%h1= @wishlist.name
%h5= @wishlist.description

%br


/ %table
/ 	%thead
/ 		%th Name
/ 		%th Description 
/ 		%th # of Items
/ 	%tbody
/ 		- @wishlists.each do |wishlist|
/ 			%tr
/ 				%td= link_to wishlist.name, wishlist
/ 				%td= wishlist.itemdescription
/ 				%td= wishlist.items.count
- total_price = 0
- @wishlist.items.each do |item|
	= link_to item.name, wishlist_item_path(@wishlist, item)
	/ = item.price
	
	- item_price = item.price
	%p this items variable item_price
	= item_price
	- total_price += item_price.to_i
	%br
%br
%h5 Total Price of your Wishlist!
= total_price

%br
= link_to "Add new item to list", new_wishlist_item_path(wishlist_id: @wishlist.id)